[project]
	description = Testing
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tushar-Rabadiya
[access "refs/for/refs/*"]
	read = group user/Tushar-Rabadiya
	push = group user/Tushar-Rabadiya
	label-Code-Review = -2..+2 group user/Tushar-Rabadiya
	label-Verified = -1..+1 group user/Tushar-Rabadiya
	rebase = group user/Tushar-Rabadiya
	removeReviewer = group user/Tushar-Rabadiya
	submit = group user/Tushar-Rabadiya
[access "refs/heads/*"]
	read = group user/Tushar-Rabadiya
	create = group user/Tushar-Rabadiya
	push = +force group user/Tushar-Rabadiya
	pushMerge = group user/Tushar-Rabadiya
[access "refs/tags/*"]
	push = group user/Tushar-Rabadiya
	push = +force group user/Tushar-Rabadiya
